<h1><%= @post.title %> belongs to Category:</h1>
<% @post.categories.each do |c| %>
    <%= c.name %><br>
<% end %>

<h2><%= @post.content %></h2>
<h3>Comments:</h3>
<% @post.comments.each do |c| %>
    <%= "#{c.user.username} says: #{c.content}" %><br>
<% end %>

<h3>Add comments:</h3>

<%= form_for @comment do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.hidden_field(:post_id, value: @post.id) %>
    <%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :username, include_blank: " ") %>
    <%= f.fields_for :user, User.new do |users_fields| %>
        <%= users_fields.label :username %>
        <%= users_fields.text_field :username %>
    <% end %>

    <%= f.submit %>
<% end %>
<br>
<div>
<% @post.users.uniq.each do |u| %>
    <%= link_to u.username, user_path(u) %><br>
<% end %>
</div>